<configuration debug="true">
	<contextName>ecm-poc</contextName>
	<property name="LOG_DIR" value="/opt/nfv_apps/nfv_logs" />
	 	 

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{DD/MM/YYYY-HH:mm:ss} %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>	   
	
	
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_DIR}/process-application.log</file>		 
	
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>10MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%d %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="SCRIPT" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_DIR}/script.log</file>		 
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%d %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="ACTVITYTRACKER" class="ch.qos.logback.core.FileAppender">
   <file>${LOG_DIR}/activitytracker.log</file> 
    <append>true</append>
    <encoder>
      <pattern>%date{dd-MM-yyyy HH:mm:ss.SSS}  [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>
	
	
	<appender name="RESTIO" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/rest.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		<!-- rollover daily -->
		<fileNamePattern>${LOG_DIR}/archives/rest-proc-io-%d{yyyy-MM-dd}.%i.log.gz	</fileNamePattern>
			<maxHistory>10</maxHistory>
			<!-- or whenever the file size reaches 10MB -->
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">				
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	
   <root level="warn"> 
		<appender-ref ref="STDOUT" />	 
	</root>  
		
	
	<logger name="activity-tracker" level="info" additivity="false">
		<appender-ref ref="ACTVITYTRACKER" />
	</logger>
	
	<logger name="script" level="info" additivity="false">
		<appender-ref ref="SCRIPT" />
	</logger>
	
	<logger name="rio" level="debug" additivity="false">
		<appender-ref ref="RESTIO" />
	</logger>
	
	<logger name="com.ericsson.oss" level="info" additivity="false">
		<appender-ref ref="FILE" />
	</logger>
</configuration>